@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow-y: hidden;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-right: 40px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.item-active {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}
.player-small-icon {
  background-size: contain;
  width: 20px;
  height: 20px;
}
.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  position: absolute;
  right: 10px;
}

.weather-error {
  margin-top: -120px;
  color: rgb(230, 106, 106);
  font-size: 14px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}
.player-input-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}
.audio-controls-container {
  display: flex;
  align-items: center;
}
.audio-time {
  display: flex;
  align-self: flex-end;
  font-size: 12px;
  margin-right: 5px;
}
.audio-current-time::after {
  content: '/';
  display: block;
  margin-left: 5px;
}

.player-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.audio-author {
  display: flex;
  font-size: 14px;
  align-self: flex-start;
  margin-left: 5px;
}

input[type='range'] {
  background: #fff;
  height: 2px;
  outline: none;
  transition: 450ms ease-in;
  -webkit-appearance: none;
  margin-right: 15px;
}

input[type='range']::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #fff;
}

.volume-progress {
  display: flex;
  align-self: flex-end;
  margin-bottom: 5px;
  width: 80px;
}

.volume-type {
  display: flex;
  align-self: flex-end;
  margin-bottom: -4px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-color: transparent;
  outline: none;
  border: none;
  background-image: url(../assets/img/sound.png);
  margin-right: 10px;
}
.sound {
  background-image: url(../assets/img/sound.png);
}
.mute {
  background-image: url(../assets/img/mute.png);
}
.settings-wrapper {
  position: absolute;
  bottom: 2%;
  left: 1%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.settings {
  padding: 20px;
  height: 50vh;
  width: 40vw;
  margin-bottom: 4%;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  display: flex;
  animation: showSettings 0.5s;
}
.settings-img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.settings-icon {
  fill: #fff;
  transition: 0.2s;
}
.settings-img:hover .settings-icon {
  fill: rgb(158, 158, 158);
}
.settings-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  border-right: 1px solid rgb(163, 163, 163);
  height: 100%;
}
.nav-title {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.settings-nav > ul > li {
  margin-bottom: 15px;
  cursor: pointer;
  color: rgb(73, 73, 73);
  text-align: left;
}
.settings-container {
  width: 60%;
  padding-left: 20px;
}
.settings-lang > .nav-title {
  justify-content: center;
}
.langs-select {
  display: flex;
  justify-content: space-around;
}
.select-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lang-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.lang-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.img-source-select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.source-img {
  width: 80px;
  height: 100%;
}
.img-source-select > input[type='radio'] {
  margin-right: 10px;
}
.img-source-select > input[type='text'] {
  padding-left: 10px;
  height: 30px;
  width: 50%;
  margin-right: 50px;
  margin-left: 50px;
}
.img-source-label {
  margin-bottom: 20px;
}
.settings-hide-blocks {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.select-blocks {
  margin-bottom: 15px;
  font-size: 18px;
}
.select-blocks > input[name='blocks'] {
  margin-right: 10px;
}
.links-wrapper {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.links-container {
  width: 220px;
  height: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  overflow-x: hidden;
  border-radius: 4px;
  animation: showSettings 0.5s;
}
.all-links {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.links-container > .all-links > ul > li {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.links-container > .all-links > ul > li > a {
  text-decoration: none;
  color: rgb(138, 138, 138);
  text-align: left;
  width: 135px;
  transition: 0.2s;
}
.links-container > .all-links > ul > li > a:hover {
  color: rgb(12, 12, 12);
}
.new-link {
  width: 180px;
  background-color: rgb(160, 159, 159);
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  transition: 0.2s;
}
.new-link:hover {
  background-color: rgb(68, 68, 68);
}
.link-icon {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.edit-link {
  background-image: url(../assets/svg/edit.svg);
}
.delete-link {
  margin-left: 10px;
  background-image: url(../assets/svg/delete.svg);
}
.new-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-link-container > label {
  color: rgb(83, 83, 83);
  align-self: flex-start;
  display: flex;
  margin-bottom: 5px;
}
.new-link-container > input {
  margin-bottom: 10px;
  height: 25px;
  border: none;
  border-bottom: 2px solid rgb(150, 150, 150);
}
.all-links-nav {
  margin-bottom: 20px;
}
.links-back {
  display: flex;
  align-self: start;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.create-link,
.edit-link-btn {
  background-color: hsla(192, 33%, 31%, 0.95);
  padding: 7px;
  width: 100px;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 1.1px;
}

.create-link:hover,
.edit-link-btn:hover {
  background-color: hsla(192, 25%, 25%, 0.95);
}
.active-route {
  font-weight: bold;
}
.animate-new-link {
  transform: translateX(-100px);
}
.animate-back-new-link {
  transform: translateX(200px);
}
.animate-all-links {
  transform: translate(-200px);
}
.animate-back-all-links {
  transform: translate(0px);
}
.links-title {
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  transition: 0.2s;
}
.links-title:hover {
  color: rgb(172, 172, 172);
}

.new-links-animation {
  animation: newLinksAnimate 1s;
}
.all-links-animation {
  animation: allLinksAnimate 1s;
}
.new-links-back-animation {
  animation: newLinksAnimateBack 1s;
}
.all-links-back-animation {
  animation: allLinksAnimateBack 1s;
}

@keyframes newLinksAnimate {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes allLinksAnimate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-200px);
  }
}
@keyframes newLinksAnimateBack {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(200px);
  }
}
@keyframes allLinksAnimateBack {
  from {
    transform: translate(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes showSettings {
  from {
    opacity: 0;
    margin-bottom: -40px;
  }
  to {
    opacity: 1;
    margin-bottom: 20px;
  }
}
@keyframes hideSettings {
  from {
    opacity: 1;
    margin-bottom: 20px;
  }
  to {
    opacity: 0;
    margin-bottom: -50px;
  }
}
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
.hide {
  display: none;
}
