.categories,
.score {
  padding: 2% 7%;
  height: 100%;
}
.categories > header,
.score > header,
.pic-question > header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.categories .welcome-title {
  margin-bottom: 0;
}
.pic-question > header {
  margin-bottom: 50px;
}
.categories .title-circle,
.score .title-circle,
.pic-question .title-circle {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.categories .title-circle:first-child,
.score .title-circle:first-child,
.pic-question .title-circle:first-child {
  margin-left: -0.7%;
}
.categories .title-circle:nth-child(2),
.score .title-circle:nth-child(2),
.pic-question .title-circle:nth-child(2) {
  margin-left: 0.9%;
}
.categories .welcome-title,
.score .welcome-title,
.pic-question .welcome-title {
  justify-content: flex-start;
  margin-right: 120px;
}
.categories .welcome-title > h1,
.score .welcome-title > h1,
.pic-question .welcome-title > h1 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.914286px;
}

.categories .welcome-title > h1 span,
.score .welcome-title > h1 span,
.pic-question .welcome-title > h1 span {
  color: #ffbca2;
}
.categories > header > ul,
.score > header > ul,
.pic-question > header > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.categories > header > ul > li > a,
.score > header > ul > li > a,
.pic-question > header > ul > li > a {
  text-decoration: none;
  font-size: 22px;
  font-family: "Gilroy-Regular";
  line-height: 18px;
  letter-spacing: -0.5px;
  color: #fff;
}
.categories > header > ul > li:nth-child(2) > a,
.score > header > ul > li:nth-child(3) > a,
.pic-question > header > ul > li:nth-child(3) > a {
  color: #ffbca2;
  font-family: "Gilroy-Bold";
}

.categories > header > ul > li:first-child,
.score > header > ul > li:first-child,
.score > header > ul > li:nth-child(2),
.pic-question > header > ul > li:not(:last-child) {
  margin-right: 90px;
}
.categories-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.category-card {
  margin-bottom: 50px;
  cursor: pointer;
}
.card-info {
  width: 195px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  user-select: none;
}
.card-info > span {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.62766px;
  font-family: "Gilroy-Regular";
}
.card-points {
  color: #ffbca2;
}
.card-name {
  color: #fff;
}
.card-img {
  width: 195px;
  height: 206px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  overflow-y: hidden;
}
.card-play-info {
  position: absolute;
  bottom: 0;
  width: 195px;
  height: 50px;
  background: #fff;
  border-radius: 0px 0px 20px 20px;
  font-size: 20.0851px;
  line-height: 23px;
  letter-spacing: -0.62766px;
  color: #010101;
  font-family: "Gilroy-Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0.1;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
.category-card:hover .card-play-info {
  visibility: inherit;
  transform: translateY(0px);
  opacity: 1;
}
.card-img-1 {
  background-image: url(../images/img/109.jpg);
}

.card-play-info:hover {
  background-color: #ffbca2;
}
.nav-icon {
  display: none;
}
@media (max-width: 1440px) {
  .categories .title-circle,
  .pic-question .title-circle {
    margin-top: 0;
  }
  .categories .welcome-settings,
  .pic-question .welcome-settings {
    top: 3%;
  }
}
@media (max-width: 768px) {
  .categories > header > ul > li > a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .categories > header > ul > li > a > span {
    margin-top: 10px;
  }
  .nav-icon {
    display: flex;
  }
  .categories > header > ul,
  .score > header > ul,
  .pic-question > header > ul {
    z-index: 1;
    position: fixed;
    bottom: 0;
    background-color: #000;
    height: 100px;
    width: 100%;
    margin-left: -7%;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #ffffff;
  }
  .categories,
  .score {
    padding-bottom: 13%;
  }
  .categories .title-circle:nth-child(2),
  .score .title-circle:nth-child(2),
  .pic-question .title-circle:nth-child(2) {
    margin-left: 2%;
  }
}
@media (max-width: 568px) {
  .categories-cards {
    justify-content: center;
  }
  .categories > header,
  .score > header,
  .pic-question > header {
    margin-bottom: 50px;
  }
  .categories > header > ul > li > a,
  .score > header > ul > li > a,
  .pic-question > header > ul > li > a {
    font-size: 16px;
  }
  .categories > header > ul,
  .score > header > ul,
  .pic-question > header > ul {
    height: 80px;
  }
}
