.settings {
  background-color: rgba(25, 47, 45, 0.9);
  height: 80vh;
  padding-left: 100px;
  width: 40%;
  padding: 20px 50px;
}
.sorting-title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 24px;
}
.sorting {
  display: flex;
  align-items: center;
}
.settings-btns {
  display: flex;
  justify-content: center;
}
.settings-btns > button {
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;
  padding: 9px 62px;
  border: 1px solid #fff;
  color: #fff;
  margin: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.settings-btns > button:hover {
  background: transparent;
}
